# Editors
.vscode/

# Cache
.tox/
.DS_STORE
*.pyc
*.egg-info
*.sqlite3
.coverage
.eslintcache
.mypy_cache

# Virtualenv & other dependencies
node_modules/
venv/
.python-version

# Private
*.swp
.vim
.envrc
build
dist
